.div {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.dogsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.divSelect {
    display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
}

.select {
    margin: 1em;
}
