.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 2px solid rgba(218, 117, 117, 0.795);
    border-radius: 5px;
}

.divContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divLabel {
    display: flex;
    flex-direction: column;
}

.inputs {
    background-color: transparent;
}