.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 400px;
    border: 2px solid rgba(218, 117, 117, 0.795);
    border-radius: 5px;
    margin: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.img {
    width: 100%;
    border-radius: 5px;
}

.divTemperamento {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    text-decoration: none;
}